@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Anton|Cinzel|Fjalla+One|Playfair+Display|Roboto');


html,
body {
  text-align: center;
 height: 100%;
 position: relative;
}

header {
  background-color: black;
  color: white;
}

h1{
  font-size: 100px;
  margin: 0px;
  height: 300px;
  line-height: 300px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  height: 50px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

a{
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.links:hover{
  color: blue;
}

.App {
 min-height: 100vh;
 display: block;
 position: relative;
 padding-bottom: 75px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: grey;
  height: 75px;
  line-height: 75px;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
}

h2{
  background: black;
  color: white;
  font-weight: 100;
  font-size: 50px;
  margin: 50px 50px 20px 50px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.reps{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block{
  text-align: left;
  padding: 15px 20px;
  margin: 30px 15px 0px 15px;
  width: 400px;
  border: 1px solid black;
}

.name{
  text-decoration: underline;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

.headline{
  font-size: 23px;
  text-align: justify;
  font-family: 'Alfa Slab One', cursive;
  text-decoration: underline;

}

.details {
  text-align: right;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.tally{
  text-align: left;

}

.bill-description{
  font-weight: bolder;
  margin: 15px 0px;

}

.presslink:hover{
  text-decoration: none;
  color: blue;
}

.presslink{
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}

.partybox{
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.bio{
  margin-top: 20px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.bio-state{
  font-weight: bolder;
  font-size: 25px;
}

.block-header{
  text-align: center;
  margin-bottom: 15px;
  background: black;
  color: white;
  font-weight: 100;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;

}

.politician {
  display: grid;
  grid-template-columns: 25% 75%;
}

.politician-block{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 20px;
  margin: 30px 15px 0px 15px;
  border: 1px solid black;
  width:  280px;
}

.search-politician{
  position: sticky;
  top: 5px;
  height: 0;
  margin: 75px 15px ;
  display: flex;
  flex-direction: column;
}

.state-search{
  text-decoration: underline;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.display-by-state{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.partybox-search{
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.search-headers{
  border: 1px solid white;
  background: black;
  color: white;
  font-weight: 100;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;

}

.forms{
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
}


.id{
  cursor: copy;
  color: black;
  font-weight: bolder;
}

.id:hover{
  text-decoration: underline;
  color:blue;
}

.specific-block{
  text-align: left;
  padding: 15px 20px;
  margin: 5px 0px 10px 5px;
  border: 1px solid black;
  width: 285px;
}

.contact{
  font-size: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

.stats{
  font-size: 15px;
  margin-top: 30px;
  text-transform: uppercase;
}

span:hover{
  cursor: copy;
  color: blue;
}

span{
  text-decoration: underline;
  text-transform: lowercase;
  font-weight: bolder;
}

strong{
  font-size: 20px;
}

.press-name{
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
  text-decoration: underline;
}

.release{
  margin: 15px 0px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}


@media only screen and (max-width: 700px) {

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-size: 30px;
    height: 150px;
    line-height: 150px;
  }

  nav{
    font-size: 9px;
    height: 25px;
    line-height: 25px;
  }

  a {
    color: black;
  }

  h2{
    margin: 10px 35px;
    padding: 5px;
    font-size: 15px;
  }

  .block{
    width: 80%;
    margin: 5px 15px 10px 15px;
    padding: 5px;
  }

  .headline, .press-name, .release, .press-date {
    font-size: 17px;
    margin: 2px;
  }

  .details{
    font-size: 14px;
  }

  .tally{
    font-size: 14px;
  }

  footer{
    height: 30px;
    line-height: 30px;
    margin-top: 0px;
    font-size: 8px;
  }

  .politician {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .reps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px 5px 0px;
  }

  .politician-block{
    width: 40%;
    margin: 0px 5px 5px 5px;
    padding: 2px;
  }

  .name, .state-search{
    font-size: 12px;
  }

  .partybox, .partybox-search {
    height: 15px;
    width: 15px;
  }

  .bio{
    font-size: 8px;
    margin-top: 5px;
  }

  .bio-state {
    font-size: 8px;
  }

  .search-headers{
    font-size: 8px;
  }

  .search-politician {
    position: sticky;
    top: 5px;
    height: 0;
    margin: 30px -5px 5px 15px;
    display: flex;
    flex-direction: column;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    font-size: 8px;
    border: 1px solid black;
    margin: 2px;
  }

  .block-header {
    margin-bottom: 0px;
    font-size: 8px;
  }

  .specific-block{
    text-align: left;
    padding: 2px;
    margin: 5px;
    border: 1px solid black;
    width: 100%;
  }

  .contact, .stats{
    font-size: 10px;
    margin-top: 5px;
  }

  strong {
    font-size: 10px;
  }

  .presslink{
    font-size: 8px;
  }

  main {
    margin-bottom: -30px;
  }

}
